<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>

<table>
    <tr>
        <th>message</th>
        <th>author</th>
        <th>createdAt</th>
        <th>rating</th>
        <th/>
    </tr>
    <tr th:each="comment : ${comments}">
        <td th:text="${comment.getMessage()}"/>
        <td th:text="${comment.getAuthor().getFirstName()}"/>
        <td th:text="${comment.getCreatedAt()}"/>
        <td th:text="${comment.getRating()}"/>
        <td>
            <form th:method="GET" th:action="@{/users/{id}/comments/{commentId}(id=${id}, commentId=${comment.getId})}">
                <input type="submit" value="Comment info"/>
            </form>
        </td>
    </tr>
</table>

<h3>Add new comment:</h3>

<form method="POST" th:object="${newComment}" th:action="@{/users/{id}/comments(id=${id})}">
    <label for="message">Message: </label>
    <div style="color: red" th:if="${#fields.hasErrors('message')}" th:errors="*{message}">Message incorrect</div>
    <input type="text" th:field="*{message}" id="message"/>
    <br/>
    <label for="rating">Rating: </label>
    <div style="color: red" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">Rating incorrect</div>
    <input type="text" th:field="*{rating}" id="rating"/>
    <br/>
    <input type="submit" value="Add comment"/>
</form>

</body>
</html>