<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
</head>
<body>

<table>
    <tr>
        <th>message</th>
        <th>author</th>
        <th>createdAt</th>
        <th>rating</th>
    </tr>
    <tr th:object="${comment}">
        <td th:text="${comment.getMessage()}"/>
        <td th:text="${comment.getAuthor().getFirstName()}"/>
        <td th:text="${comment.getCreatedAt()}"/>
        <td th:text="${comment.getRating()}"/>
    </tr>
</table>

<form th:method="DELETE" th:action="@{/users/{traderId}/comments/{commentId}(traderId=${id}, commentId=${commentId})}">
    <input type="submit" value="Delete"/>
</form>
<form th:method="GET" th:action="@{/users/{id}/comments/{commentId}/edit(id=${id}, commentId=${commentId})}">
    <input type="submit" value="Edit"/>
</form>

</body>
</html>