<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit game object</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{traderId}/objects/{objectId}(traderId=${gameObject.getAuthor().getId()} ,
 objectId=${gameObject.getId()})}" th:object="${gameObject}">
    <label for="title">Title: </label>
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title incorrect</div>
    <input type="text" th:field="*{title}" id="title"/>
    <br/>
    <input type="submit" value="Update game object"/>
</form>

</body>
</html>
