<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit game object</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{traderId}/objects/{objectId}(traderId=${gameObject.get().getAuthor().getId()} ,
 objectId=${gameObject.get().getId()})}" th:object="${gameObject}">
    <label for="title">Title: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <br/>
    <input type="submit" value="Update game object"/>
</form>

</body>
</html>
