<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:object="${user}" th:action="@{/games}">
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Password: </label>
    <input type='password' th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="Sing in"/>
</form>

</body>
</html>