<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:object="${user}">
    <label for="firstName">First name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <label for="lastName">Last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label for="role">Role: </label>
    <select class="form-control" th:field="*{role}"  id="role" >
        <option th:each="role : ${roleList}"
                th:value="${role.role}"
                th:text="${role.role}" />
    </select>
    <br/>
    <input type="submit" value="Sing up"/>
</form>

</body>
</html>