<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form method="POST" th:object="${user}" th:action="@{/signup}">
    <label for="firstName">First name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name incorrect</div>
    <br/>
    <label for="lastName">Last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name incorrect</div>
    <br/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email incorrect</div>
    <br/>
    <label for="password">Password: </label>
    <input type='password' th:field="*{password}" id="password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password incorrect</div>
    <br/>
    <label for="role">Role: </label>
    <select id="role" required th:field="*{role}">
        <option th:each="role : ${T(com.leverx.govoronok.model.Role).values()}"
                th:if = "${role ne T(com.leverx.govoronok.model.Role).ADMINISTRATOR}"
                th:value="${role}"
                th:text="${role}">
        </option>
    </select>
    <br/>
    <input type="submit" value="Sing up"/>
</form>

</body>
</html>