<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unconfirmed users</title>
</head>
<body>

<table>
    <tr>
        <th>User ID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>CreatedAt</th>
        <th>Role</th>
        <th>Delete / approve</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getFirstName()}"/>
        <td th:text="${user.getLastName()}"/>
        <td th:text="${user.getEmail()}"/>
        <td th:text="${user.getCreatedAt()}"/>
        <td th:text="${user.getRole()}"/>
        <td>
            <form th:method="DELETE" th:action="@{/administration/users/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
            <form th:method="PATCH" th:action="@{/administration/users/{id}(id=${user.getId()})}">
                <input type="submit" value="Approve"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>